<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.qc.configuration.mapper.QcLineConfigurationMapper">

    <sql id="qcLineContentColumns">
        a.id AS "id",
        a.line_no AS "lineNo",
        a.factory AS "factory",
        a.building AS "building",
        a.floor AS "floor",
        a.product_group AS "productGroup",
        a.type AS "type",
        a.status AS "status",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.show_line_no AS "show_line_no",
        a.del_flag AS "delFlag"

    </sql>

<!--    <sql id="qcLineContentJoins">-->

<!--        LEFT JOIN qc_trf_test_code b ON b.id = a.id-->
<!--        LEFT JOIN sys_user createBy ON createBy.id = a.create_by-->
<!--        LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by-->
<!--    </sql>-->


    <select id="findById" resultType="com.jeeplus.qc.configuration.service.dto.QcLineConfigurationDTO">
        SELECT
        <include refid="qcLineContentColumns"/>
        FROM sys_line a WHERE a.id = #{id} and a.del_flag = 0
    </select>

<update id="updateByIds">
    update sys_line a set a.line_no=#{line_no} where id=#{id};
</update>


    <select id="findList" resultType="com.jeeplus.qc.configuration.service.dto.QcLineConfigurationDTO">
        SELECT
        <include refid="qcLineContentColumns"/>
        FROM sys_line a
        ${ew.customSqlSegment}
    </select>

</mapper>