<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.exception.access.mapper.ExceptionListMapper">

	<sql id="exceptionListColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.comments AS "comments",
		a.commments_times AS "commmentsTimes",
		a.assignee AS "assignee",
		a.status AS "status",
		a.file_path AS "filePath",
		a.bom_id AS "bomId",
		a.garment_QA_comments AS "garmentQaComments",
		a.garment_QA_comment_time AS "garmentQaCommentTime",
		a.material_QAs AS "materialQas",
		a.material_QSs_time AS "materialQssTime",
		a.mer_team AS "merTeam",
		a.mer_team_time AS "merTeamTime",
		a.meeting_record AS "meetingRecord",
		a.meeting_record_time AS "meetingRecordTime",
		a.application_no AS "applicationNo",
		a.process_instance_id AS "processInstanceId"
	</sql>

	<sql id="exceptionListJoins">

		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>



	<select id="findById" resultType="com.jeeplus.exception.access.service.dto.ExceptionListDTO">
		SELECT
			<include refid="exceptionListColumns"/>
		FROM exception_list a
		<include refid="exceptionListJoins"/>
		WHERE a.id = #{id} and a.del_flag = 0
	</select>

	<select id="findList" resultType="com.jeeplus.exception.access.service.dto.ExceptionListDTO">
		SELECT
			<include refid="exceptionListColumns"/>,b.working_no AS "workingNo",b.brand AS "brand",b.sports_cat AS "sportsCat",
			b.product_name AS "productName",b.dev_region AS "devRegion",b.developer AS "developer",b.direct_development AS "directDevelopment",
			b.style_status AS "styleStatus",b.style_br_status AS "styleBrStatus",b.colorway_name AS "colorwayName",b.article AS "article",
			b.earliest_buy_ready AS "earliestBuyReady",b.colorway_status AS "colorwayStatus",b.fty_code AS "ftyCode",b.fty_name AS "ftyName",
			b.lo_for_fty AS "loForFty",b.fty_priority AS "ftyPriority",b.ref AS "ref",b.typename AS "typename",b.material AS "material",
			b.group_code AS "groupCode",b.short_name AS "shortName",b.coo AS "coo",b.lo AS "lo",b.supp_ref AS "suppRef",b.part_no AS "partNo",
			b.part_name AS "partName",b.sustainability AS "sustainability",b.level AS "level",b.yield AS "yield",b.supp_UOM AS "suppUom",
			group_concat(u.name) userName
		FROM exception_list a join
		exception_bom b on a.bom_id = b.id
		left join share_db.sys_user u on a.assignee like concat('%,', u.id ,'%') 
		<include refid="exceptionListJoins"/>
	    ${ew.customSqlSegment}
	    
	    group by a.id
	    order by a.update_date desc
	</select>

</mapper>
