<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.exception.bom.info.mapper.ExceptionBomInfoMapper">

	<sql id="exceptionBomInfoColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.bom_id AS "bomId",
		a.lab_dip_status AS "labDipStatus",
		a.lab_dip_status_date AS "labDipStatusDate",
		a.lab_dip_remark AS "labDipRemark",
		a.material_remarks AS "materialRemarks",
		a.material_developer AS "materialDeveloper",
		a.mtl_supp_lifecycle_state AS "mtlSuppLifecycleState",
		a.management_model AS "managementModel",
		a.developer_location AS "developerLocation",
		a.material_orig_group AS "materialOrigGroup",
		a.material_description AS "materialDescription",
		a.color AS "color",
		a.main_material AS "mainMaterial",
		a.fiber_text AS "fiberText",
		a.fiber_text_position AS "fiberTextPosition",
		a.layer_comp AS "layerComp",
		a.supplier_lead_time AS "supplierLeadTime",
		a.lo_merch AS "loMerch",
		a.material_dev_type AS "materialDevType",
		a.material_typename AS "materialTypename",
		a.business_unit AS "businessUnit",
		a.layer_const AS "layerConst",
		a.first_colorway AS "firstColorway",
		a.flex_bom_linkid AS "flexBomLinkid",
		a.source_season_lead_time AS "sourceSeasonLeadTime",
		a.season AS "season",
		a.us_rainwear_status AS "usRainwearStatus",
		a.product_specialty AS "productSpecialty",
		a.global_mktg_fc AS "globalMktgFc",
		a.bom_remarks AS "bomRemarks",
		a.first_season AS "firstSeason",
		a.min_qty_color AS "minQtyColor",
		a.min_qty_order AS "minQtyOrder",
		a.supplier_width AS "supplierWidth",
		a.width_UOM AS "widthUom",
		a.supp_ref_name AS "suppRefName",
		a.brand_partner AS "brandPartner",
		a.leadtime_remark AS "leadtimeRemark",
		a.lcs_remark AS "lcsRemark",
		a.ts_comments AS "tsComments",
		a.ts_commments_times AS "tsCommmentsTimes",
		a.garment_QA_comments AS "garmentQaComments",
		a.garment_QA_comment_time AS "garmentQaCommentTime",
		a.material_QAs AS "materialQas",
		a.material_QSs_time AS "materialQssTime",
		a.mer_team AS "merTeam",
		a.mer_team_time AS "merTeamTime",
		a.meeting_record AS "meetingRecord",
		a.meeting_record_time AS "meetingRecordTime"
	</sql>

	<sql id="exceptionBomInfoJoins">

		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>



	<select id="findById" resultType="com.jeeplus.exception.bom.info.service.dto.ExceptionBomInfoDTO">
		SELECT
			<include refid="exceptionBomInfoColumns"/>
		FROM exception_bom_info a
		<include refid="exceptionBomInfoJoins"/>
		WHERE a.id = #{id} and a.del_flag = 0
	</select>

	<select id="findList" resultType="com.jeeplus.exception.bom.info.service.dto.ExceptionBomInfoDTO">
		SELECT
			<include refid="exceptionBomInfoColumns"/>
		FROM exception_bom_info a
		<include refid="exceptionBomInfoJoins"/>
	    ${ew.customSqlSegment}
	</select>

	<delete id="removeByBomIds">
		DELETE FROM exception_bom_info
		WHERE bom_id IN
		<foreach collection="list" item="item" separator="," open="(" close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="saveList">
		INSERT INTO exception_bom_info(
		create_by,
		create_date,
		del_flag,
		bom_id,
		lab_dip_status,
		lab_dip_status_date,
		lab_dip_remark,
		material_remarks,
		material_developer,
		mtl_supp_lifecycle_state,
		management_model,
		developer_location,
		material_orig_group,
		material_description,
		color,
		main_material,
		fiber_text,
		fiber_text_position,
		layer_comp,
		supplier_lead_time,
		lo_merch,
		material_dev_type,
		material_typename,
		business_unit,
		layer_const,
		first_colorway,
		flex_bom_linkid,
		source_season_lead_time,
		season,
		us_rainwear_status,
		product_specialty,
		global_mktg_fc,
		bom_remarks,
		first_season,
		min_qty_color,
		min_qty_order,
		supplier_width,
		width_uom,
		supp_ref_name,
		brand_partner,
		leadtime_remark,
		lcs_remark,
		ts_comments,
		ts_commments_times,
		garment_qa_comments,
		garment_qa_comment_time,
		material_qas,
		material_qss_time,
		mer_team,
		mer_team_time,
		meeting_record,
		meeting_record_time
		) VALUES
		<foreach collection="list" item="item" separator=",">
			(
			#{item.createBy},
			#{item.createDate},
			#{item.delFlag},
			#{item.bomId},
			#{item.labDipStatus},
			#{item.labDipStatusDate},
			#{item.labDipRemark},
			#{item.materialRemarks},
			#{item.materialDeveloper},
			#{item.mtlSuppLifecycleState},
			#{item.managementModel},
			#{item.developerLocation},
			#{item.materialOrigGroup},
			#{item.materialDescription},
			#{item.color},
			#{item.mainMaterial},
			#{item.fiberText},
			#{item.fiberTextPosition},
			#{item.layerComp},
			#{item.supplierLeadTime},
			#{item.loMerch},
			#{item.materialDevType},
			#{item.materialTypename},
			#{item.businessUnit},
			#{item.layerConst},
			#{item.firstColorway},
			#{item.flexBomLinkid},
			#{item.sourceSeasonLeadTime},
			#{item.season},
			#{item.usRainwearStatus},
			#{item.productSpecialty},
			#{item.globalMktgFc},
			#{item.bomRemarks},
			#{item.firstSeason},
			#{item.minQtyColor},
			#{item.minQtyOrder},
			#{item.supplierWidth},
			#{item.widthUom},
			#{item.suppRefName},
			#{item.brandPartner},
			#{item.leadtimeRemark},
			#{item.lcsRemark},
			#{item.tsComments},
			#{item.tsCommmentsTimes},
			#{item.garmentQaComments},
			#{item.garmentQaCommentTime},
			#{item.materialQas},
			#{item.materialQssTime},
			#{item.merTeam},
			#{item.merTeamTime},
			#{item.meetingRecord},
			#{item.meetingRecordTime}
			)
		</foreach>
	</insert>
	<update id="updateList">
		<foreach collection="list" item="item" separator=";">
			UPDATE exception_bom_info SET
			update_by = #{item.updateBy},
			update_date = #{item.updateDate},
			bom_id = #{item.bomId},
			lab_dip_status = #{item.labDipStatus},
			lab_dip_status_date = #{item.labDipStatusDate},
			lab_dip_remark = #{item.labDipRemark},
			material_remarks = #{item.materialRemarks},
			material_developer = #{item.materialDeveloper},
			mtl_supp_lifecycle_state = #{item.mtlSuppLifecycleState},
			management_model = #{item.managementModel},
			developer_location = #{item.developerLocation},
			material_orig_group = #{item.materialOrigGroup},
			material_description = #{item.materialDescription},
			color = #{item.color},
			main_material = #{item.mainMaterial},
			fiber_text = #{item.fiberText},
			fiber_text_position = #{item.fiberTextPosition},
			layer_comp = #{item.layerComp},
			supplier_lead_time = #{item.supplierLeadTime},
			lo_merch = #{item.loMerch},
			material_dev_type = #{item.materialDevType},
			material_typename = #{item.materialTypename},
			business_unit = #{item.businessUnit},
			layer_const = #{item.layerConst},
			first_colorway = #{item.firstColorway},
			flex_bom_linkid = #{item.flexBomLinkid},
			source_season_lead_time = #{item.sourceSeasonLeadTime},
			season = #{item.season},
			us_rainwear_status = #{item.usRainwearStatus},
			product_specialty = #{item.productSpecialty},
			global_mktg_fc = #{item.globalMktgFc},
			bom_remarks = #{item.bomRemarks},
			first_season = #{item.firstSeason},
			min_qty_color = #{item.minQtyColor},
			min_qty_order = #{item.minQtyOrder},
			supplier_width = #{item.supplierWidth},
			width_uom = #{item.widthUom},
			supp_ref_name = #{item.suppRefName},
			brand_partner = #{item.brandPartner},
			leadtime_remark = #{item.leadtimeRemark},
			lcs_remark = #{item.lcsRemark},
			ts_comments = #{item.tsComments},
			ts_commments_times = #{item.tsCommmentsTimes},
			garment_qa_comments = #{item.garmentQaComments},
			garment_qa_comment_time = #{item.garmentQaCommentTime},
			material_qas = #{item.materialQas},
			material_qss_time = #{item.materialQssTime},
			mer_team = #{item.merTeam},
			mer_team_time = #{item.merTeamTime},
			meeting_record = #{item.meetingRecord},
			meeting_record_time = #{item.meetingRecordTime}
			WHERE id = #{item.id}
		</foreach>
	</update>

</mapper>
